<app-sidebar></app-sidebar>
<div class="container-fluid">
    <div class="row">
      
      <div class="col-9 content">
        <div class="card-container">
          <p-card class="order-card">
            <ng-template pTemplate="title">
              <span class="card-title">Total Orders</span>
            </ng-template>
            <div class="card-content">
              <i class="pi pi-shopping-cart card-icon"></i>
              <span class="card-value"> {{totalOrders}} </span>
            </div>
          </p-card>
          
          <p-card class="product-card">
            <ng-template pTemplate="title">
              <span class="card-title">Total Products</span>
            </ng-template>
            <div class="card-content">
              <i class="pi pi-tags card-icon"></i>
              <span class="card-value">{{totalProducts}}</span>
            </div>
          </p-card>
          
          <p-card class="client-card">
            <ng-template pTemplate="title">
              <span class="card-title">Total Clients</span>
            </ng-template>
            <div class="card-content">
              <i class="pi pi-users card-icon"></i>
              <span class="card-value">{{ totalUsers }}</span>
            </div>
          </p-card>
          <p-card class="revenue-card">
            <ng-template pTemplate="title">
              <span class="card-title">Total Revenue</span>
            </ng-template>
            <div class="card-content">
              <i class="pi pi-money-bill card-icon"></i>
              <span class="card-value">{{ totalRevenue | currency }}</span>
            </div>
          </p-card>
          <br>      
        </div>
        <br>

        
        <div class="charts-container" >
            <div class="chart" style="background-color: white; width: 100%; height: 60%;">
              <h5 style="color: black;">Orders Per Month</h5>
              <p-chart type="line" [data]="dataOrders" [options]="optionsOrders" style="width:100%; height: 60%;"></p-chart>
            </div>
          
            <div class="chart" style="background-color: white; width: 100%;">
              <h5 style="color: black;">New clients per month</h5>
              <p-chart type="line" [data]="dataClients" [options]="optionsClients" style="width:100%"></p-chart>
            </div>
          </div>
      </div>
    </div>
  </div>