<header class="section-header sticky-top" style="background-color: white;">
  <section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a routerLink="/" class="navbar-brand">
            <h4>PAP BOUTIQUE</h4>
          </a> <!-- brand end.// -->
        </div>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="float-end">
        
            <a *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-light">
              <i class="bi bi-person"></i> <span class="ms-1 d-none d-sm-inline-block">Sign in</span>
            </a>

            <a *ngIf="isLoggedIn" href="#" class="btn btn-light">
              <i class="bi bi-heart"></i> <span class="ms-1 d-none d-sm-inline-block">Wishlist</span>
            </a>
            <a data-bs-toggle="offcanvas" routerLink="/cart" class="btn btn-light">
              <i class="bi bi-cart"></i> <span class="ms-1">My cart</span>
            </a>
            <!--a  *ngIf="isLoggedIn" (click)="logout()" class="btn btn-light">
              <i class="pi pi-power-off"></i> <span class="ms-1 d-none d-sm-inline-block">Sign out</span>
            </a-->



              <button *ngIf="isLoggedIn"  class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person"></i> <span class="ms-1 d-none d-sm-inline-block">Account</span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#"> <i class="pi pi-id-card"></i>&nbsp; Profile</a></li>
                <li><a class="dropdown-item" href="#"><i class="pi pi-cog"></i>&nbsp; Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>  <a class="dropdown-item" (click)="logout()" href="#"> <i class="pi pi-sign-out"></i> &nbsp;Sign out</a></li>
              </ul>

          </div>
        </div> <!-- col end.// -->

        <div class="col-lg-5 col-md-12 col-12">
          <form action="#" class="">
            <div class="input-group">
              <input type="search" class="form-control" style="width:55%" placeholder="Search">
              <!--select class="form-select" aria-label="Category Select">
                <option>Categories</option>
              </select-->
              <button class="btn btn-primary">
                <i class="bi bi-search"></i>
              </button>
            </div> <!-- input-group end.// -->
          </form>
        </div> <!-- col end.// -->

        <style>
          select { width: 50em }
        </style>
      </div> <!-- row end.// -->
    </div> <!-- container end.// -->
  </section> <!-- header-main end.// -->
  <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav">
          <li style="color: white;" class="nav-item">
            <a style="color: white;" class="nav-link ps-0" href="#"></a>
          </li>
        </ul>
      </div> <!-- collapse end.// -->
    </div> <!-- container end.// -->
  </nav> <!-- navbar end.// -->
</header> <!-- section-header end.// -->
