<header class="section-header">  
    <section class="header-main">
      <div class="container">
        <div class="row gy-3 align-items-center">
          <div class="col-lg-2 col-sm-4 col-4">
            <a routerLink="/products/list" class="navbar-brand">
              PAP BOUTIQUE
            </a>
          </div>
          
        </div>
      </div>
    </section>
    <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
      <div class="container">
        <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
          <span class="navbar-toggler-icon"></span>
        </button>
        
      </div> 
    </nav> 
  </header>
