<div class="container-fluid">
     <p-overlayPanel #op>
    <div class="image-container">
      <ng-container >
        <img  alt="product"/>
      </ng-container>
    </div>
  </p-overlayPanel>
    <div class="row">
        <app-sidebar></app-sidebar>
        <div class="col-9 content">
            <app-product-table [products]="products" [deleteOne]="deleteProduct" [tableSize]="totalProducts"
                (pageChange)="onTableChange($event)"></app-product-table>
        </div>
    </div>
</div>

