<p-dialog #addDialog [(visible)]="visible" [modal]="true" [style]="{ width: '35vw', height:'1100px' }" [draggable]="false" [resizable]="false" (onHide)="onHide($event)">
  <ng-template pTemplate="header">
    <h5> <i class="pi pi-user-plus"> </i> Add a new user </h5> 
  </ng-template>
  <div *ngIf="loading">
    <app-loader></app-loader>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="createUser()" novalidate *ngFor="let user of users">
    <div class="field">
      <i class="pi pi-user"></i> &nbsp; <label for="username" class="block">Username</label>
      <span class="p-float-label">
        <input id="cuser-username" type="text" pInputText placeholder="Username" formControlName="username" [(ngModel)]="user.username" />
      </span>
      <small class="p-error block" *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.dirty">
        Username is required</small>
    </div>
    <br>
    <div class="field">
      <i class="pi pi-envelope"></i>&nbsp;
      <label for="email" class="block">Email</label>
      <span class="p-float-label">
        <input id="cuser-email" type="email" pInputText placeholder="Email" formControlName="email" [(ngModel)]="user.email" />
      </span>
      <small class="p-error block" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.dirty">
        Email is required</small>
    </div>
    <br>
    <div class="field">
      <i class="pi pi-lock"></i>&nbsp;
      <label for="password" class="block">Password</label> 
      <span class="p-float-label">
        <p-password  #passwordInput [(ngModel)]="user.password" [toggleMask]="true" formControlName="password" 
        [style]="{ width: '100%'}" ></p-password>
      </span>
      <small class="p-error block" *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.dirty">
        Password is required</small>
    </div>
    <br>
    <div class="field">
      <i class="pi pi-eye"></i>&nbsp;&nbsp;<label for="role" class="block">Role</label>
      <br>
      <p-dropdown #dropdownInput  id="addUserDrop" [style]="{'width':'101%'}" placeholder="Select a Role" [(ngModel)]="user.role" [options]="roles" formControlName="role"></p-dropdown>
      <div *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.errors?.['required']" class="error-message">
        Role is required.
      </div>
    </div>
    <br>

    <div class="field">
      <i class="pi pi-map-marker"></i>&nbsp;
      <label for="address" class="block">Address</label>
      <span class="p-float-label">
        <input id="cuser-address" type="text" pInputText placeholder="Address" formControlName="address" [(ngModel)]="user.address" />
      </span>
      <small class="p-error block" *ngIf="userForm.get('address')?.invalid && userForm.get('address')?.dirty">
        Address is required</small>
    </div>
    <br>
    <div class="field">
     <i class="pi pi-phone">&nbsp; </i> <label for="phoneNum" class="block">Phone Number</label>&nbsp;
      <div class="phone-inputs-container">
        <input type="text" value="+212" pInputText [style]="{ width: '80px' }" readonly class="phone-prefix-input">
        <input id="cuser-phone" type="text" pInputText placeholder="Phone Number" formControlName="phoneNum" [(ngModel)]="user.phoneNum" class="phone-number-input" minlength="9" maxlength="9" />
      </div>
      <div class="error-container">
        <div class="error-container">
          <small class="p-error block" *ngIf="userForm.get('phoneNum')?.dirty && (userForm.get('phoneNum')?.errors?.['minlength'] || userForm.get('phoneNum')?.errors?.['maxlength'])">
            Phone Number must be 9 digits
          </small>
          <small class="p-error block" *ngIf="userForm.get('phoneNum')?.dirty && (userForm.get('phoneNum')?.errors?.['firstCharInvalid'] || userForm.get('phoneNum')?.errors?.['firstCharValidator'])">
            First character must be '6' or '7'
          </small>
        </div>
      </div>
    </div>
    
    <br>

    <div style="text-align: right;">
      <p-button  id="cuser-btn-submit" type="submit" label="Submit" icon="pi pi-check" iconPos="left" [disabled]="userForm.invalid"></p-button>
      <button id="cuser-btn-clear" type="reset" pButton pRipple label="Clear" icon="pi pi-times"
        class="p-button-raised p-button-danger" style="margin-left: 12px;"></button>
    </div>
  </form>
</p-dialog>
