<div id="nav" class="col-3 d-flex flex-column flex-shrink-0 p-3 text-white " style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">PAP-Admin</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a id="dashboardLink" routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white">
                <i class="pi pi-chart-bar"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a id="ordersLink" routerLink="/orders" routerLinkActive="active" class="nav-link text-white">
                <i class="pi pi-shopping-cart"></i>
                Orders
            </a>
        </li>
        <li>
            <a id="productsLink" routerLink="/products/list" routerLinkActive="active" class="nav-link text-white">
                <i class="pi pi-database"></i>
                Products
            </a>
        </li>
        <li>
            <a id="clientsLink" routerLink="/users" routerLinkActive="active" class="nav-link text-white">
                <i class="pi pi-users"></i>
                 Clients
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            <strong >Admin</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a id="profileLink" class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a id="signoutLink" class="dropdown-item" (click)="logout()" style="cursor:pointer;">Sign out</a></li>
        </ul>
    </div>
</div>