<app-navbar></app-navbar> 
<br> <br>
<p-toast></p-toast>
<div class="container">
    <div class="single-product">
      <div class="row">
        <div class="col-6">
          <div class="product-image">
            <div class="product-image-main">
              <img [src]="product.productImages[0].url"  alt="" id="product-main-image">
            </div>
            <div class="product-image-slider" >
                <img  *ngFor="let image of product.productImages" [src]="image.url" alt="" class="image-list" (click)="changeImage(image.url)">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="product">
            <div class="product-title">
             <b><h2>{{ product.name }}</h2></b> 
            </div>
            <div class="product-rating">
              <span><i class="bx bxs-star"></i></span>
              <span><i class="bx bxs-star"></i></span>
              <span><i class="bx bxs-star"></i></span>
              <span><i class="bx bxs-star"></i></span>
              <span><i class="bx bxs-star"></i></span>
              <span class="review">(47 Reviews)</span>
            </div>
            <div class="product-price">
              <span class="offer-price">{{ product.price | currency }}</span>
              <!--span class="sale-price">$129.00</span-->
            </div>
            <div class="product-details">
              <b>Description</b>
              <p>{{ product.description }}</p>
            </div>
            <span class="divider"></span>
            <div class="product-btn-group">
                <p-button class="button buy-now" icon="bx bxs-zap" label="Buy Now"></p-button>
                <p-button class="button add-cart" (click)="addToCart(); $event.stopPropagation()" icon="bx bxs-cart" label="Add to Cart"></p-button> 
               
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

