<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <div class="col-9 content">
      <p-toast (onClose)="closeToast()"></p-toast>
      <div class="flex align-items-center justify-content-center">
        <p-card styleClass="user-form">
          <form [formGroup]="ProductForm" (ngSubmit)="CreateProduct()" novalidate *ngFor="let product of products">

            <h3>Create product</h3>
            <div class="field">
              <label for="name" class="block">Name</label>
              <input type="text" pInputText placeholder="Name" formControlName="name" [(ngModel)]="product.name" />
              <small class="p-error block" *ngIf="ProductForm.get('name')?.invalid && ProductForm.get('name')?.dirty">
                Name is required</small>
            </div>

            <div class="field">
              <label for="Description" class="block">Description</label>
              <textarea rows="5" cols="30" pInputTextarea placeholder="Description" formControlName="Description"
                [(ngModel)]="product.description"></textarea>
              <small class="p-error block"
                *ngIf="ProductForm.get('Description')?.invalid && ProductForm.get('Description')?.dirty">
                Description is required</small>
            </div>

            <div class="field">
              <label for="Quantity" class="block">Quantity</label>
              <input type="number" pInputText placeholder="Quantity" formControlName="Quantity"
                [(ngModel)]="product.quantity" value="" />
              <small class="p-error block"
                *ngIf="ProductForm.get('Quantity')?.invalid && ProductForm.get('Quantity')?.dirty">
                Quantity is required</small>
            </div>

            <div class="field">
              <label for="Description" class="block">Price</label>
              <input type="number" pInputText placeholder="Price" formControlName="Price" [(ngModel)]="product.price"
                value="" />
              <small class="p-error block" *ngIf="ProductForm.get('Price')?.invalid && ProductForm.get('Price')?.dirty">
                Price is required</small>
            </div>

            <br>

            <div style="text-align: right;">
              <p-button type="submit" label="Submit" icon="pi pi-check" iconPos="left"
                [disabled]="ProductForm.invalid"></p-button>
              <button type="reset" pButton pRipple label="Cancel" icon="pi pi-times"
                class="p-button-raised p-button-danger" style="margin-left: 12px;"></button>
            </div>
          </form>

        </p-card>
      </div>
    </div>
  </div>
</div>
<br><br>
