<app-navbar></app-navbar>

<div class="container-fluid content">
    <p-toast></p-toast>
  
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
            <div class="login-wrap p-4 p-md-5">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-user-o"></span>
                </div>
                <h3 class="text-center mb-4">Sign In</h3>
               
                <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
                    <div *ngIf="loading">
                        <app-loader></app-loader>
                      </div>
                    <div class="form-group">
                        <input id="username-login" type="text" class="form-control rounded-left" placeholder="Username"
                            formControlName="username" required>
                    </div>
                    <div class="form-group d-flex">
                        <input id="password-login" type="password" class="form-control rounded-left" placeholder="Password"
                            formControlName="password" required>
                    </div>
                    <div class="form-group">
                        <button id="btn-login" type="submit" class="form-control btn rounded submit px-3">Login</button>
                    </div>
                    <div class="form-group text-center">
                        <div class="pt-4">
                            <label class="checkbox-wrap checkbox-primary">You don't have an account ?
                            </label>
                            <a id="ln-signup" routerLink="/signup" class="p-2">Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>