<app-navbar></app-navbar>
<div class="container">
  <section class="hero">
    <div class="row">
      <div class="abc col-md-12 text-center">
        <h1>Welcome to PAP-BOUTIQUE Store</h1>
        <p>Discover amazing products at great prices.</p>
        <a routerLink="/home" class="btn btn-primary">Shop Now</a>
      </div>
    </div>
  </section>

  <section class="featured-products">
    <div class="container">
      <h2 class="text-center">Featured Products</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
          <div class="card">
            <ng-container *ngIf="product.productImages && product.productImages.length > 0">
              <img [src]="product.productImages[0].url" class="card-img-top" alt="Product">
            </ng-container>
            <div class="card-body">
              <a routerLink="/product/{{ product.id }}"><h5 class="card-title">{{ product.name }}</h5></a>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">Price: {{ product.price | currency }}</p>
              <p class="card-text">Quantity: {{ product.quantity }}</p>
              <a href="#" class="btn btn-primary">
                <i class="pi pi-shopping-cart"></i> Add to Cart
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
