<app-navbar></app-navbar>

<br><br>

<div class="container" style="display: center;">
  <div class="col-lg-6 px-5 py-4">
    <div class="d-flex align-items-center mb-5" *ngFor="let cartItem of cartDetails">
      <div class="flex-shrink-0">
        <ng-container *ngIf="cartItem.product.productImages && cartItem.product.productImages.length > 0">
          <img [src]="cartItem.product.productImages[0].url" class="img-fluid" style="width: 60px;" alt="Product Image">
        </ng-container>
      </div>
      <div class="flex-grow-1 ms-3">
        <p-button (click)="deleteCartItem(cartItem.product.id)" icon="pi pi-times" styleClass="p-button-rounded p-button-danger float-end text-black"></p-button>
        <a routerLink="/product/{{cartItem.product.id}}"><h5 class="text-primary">{{ cartItem.product.name }}</h5></a>
        <div class="d-flex align-items-center">
          <p class="fw-bold mb-0 me-5 pe-3">Price: {{ cartItem.product.price | currency }}</p>
          <br>
          <p>Quantity: {{ cartItem.quantity }}</p>
        </div>
      </div>
    </div>

    <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">

    <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
      <h5 class="fw-bold mb-0">Total:</h5>
      <h5 class="fw-bold mb-0">{{ totalAmount }}$</h5>
      <button type="button" class="btn btn-primary btn-block btn-lg">Buy now</button>
    </div>
  </div>
</div>
