<app-navbar></app-navbar>

<br><br>
<div *ngIf="cartDetails.length === 0" class="text-center">
  
  <br><br><br><br><br> <br> <br> <br>
  <i class="pi pi-shopping-cart empty-cart-icon"></i>
  <p class="empty-cart-message">Your cart is Empty</p>

  <a routerLink="/home" class="back-to-shopping">
    <i class="pi pi-angle-left me-2"></i>Back to Shopping
  </a>
</div>

<div class="row">
  

  <div class="col-lg-6 px-5 py-4">
    <h3 *ngIf="cartDetails.length !== 0" class="mb-5 pt-2 text-center fw-bold text-uppercase">Order summary</h3>
    
    <div class="d-flex align-items-center mb-5" *ngFor="let cartItem of cartDetails">
      <div class="flex-shrink-0">
        <ng-container *ngIf="cartItem.product.productImages && cartItem.product.productImages.length > 0">
          <img [src]="cartItem.product.productImages[0].url" class="img-fluid" style="width: 60px;" alt="Product Image">
        </ng-container>
      </div>
      <div class="flex-grow-1 ms-3">
        <p-button (click)="deleteCartItem(cartItem.product.id)" icon="pi pi-times" styleClass="p-button-rounded p-button-danger float-end text-black"></p-button>
        <a routerLink="/product/{{cartItem.product.id}}"><h5 class="text-primary">{{ cartItem.product.name }}</h5></a>
        <div class="d-flex align-items-center">
          <p class="fw-bold mb-0 me-5 pe-3">Price: {{ cartItem.product.price | currency }}</p>
          <br>
          <p>Quantity: {{ cartItem.quantity }}</p>
        </div>
      </div>
    </div>

    <hr *ngIf="cartDetails.length !== 0" class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">

    <div *ngIf="cartDetails.length !== 0" class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
      <h5 class="fw-bold mb-0">Total:</h5>
      <h5 class="fw-bold mb-0">{{ totalAmount | currency }}</h5>
      
    </div>
    <a *ngIf="totalAmount !== 0" routerLink="/home" class="back-to-shopping">
      <i class="pi pi-angle-left me-2" style="display: center;"></i>Back to Shopping
    </a>
  </div>

  <div *ngIf="cartDetails.length !== 0" class="col-lg-1 px-0">
    <div style="border-right: 2px solid black; height: 200%;"></div>
  </div>

  
  <div class="col-lg-5 px-5 py-4">
    <app-buy-product *ngIf="totalAmount !== 0">
    </app-buy-product>
  </div>
</div>

  
