.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-family);
    font-weight: normal;
    background: #9ab4d6;
    color: var(--text-color);
}
.row{
    margin-top: 120px;
}

.login-wrap {
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.login-wrap h3 {
    font-weight: 300;
}

.login-wrap .icon {
    width: 80px;
    height: 80px;
    background: #9ab4d6;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.login-wrap .icon span {
    color: #fff;
}

.form-group {
    margin-bottom: 1rem;
}

.form-text {
    display: block;
    margin-top: 0.25rem;
}

.submit{
    background-color: #9ab4d6;
    color: #fff;
}


:host >>> .user-form {
    width: 40%;
    margin-left: 30%; /* Adjust the margin-left value as needed */
    margin-top: 2%;
  }
  
  :host >>> .p-inputtext
   {
    width: 100%;
  }
  :host >>> .p-password .p-password-input
  {
    width: 300%;
  }
  
  .user-form {
    text-align: center;
  }
  
  .input-field {
    width: 100%;
  }
  
  .phone-inputs-container {
    display: flex;
    align-items: center;
  }
  
  .phone-prefix-input {
    padding-left: 30px;
    background-image: url('/assets/ma.svg');
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 20px 20px;
  }
  
  
  .phone-inputs-container input {
    margin-right: 10px;
  }
  
  
  .error-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .error-container small {
    margin-right: 10px;
  }